{% extends "base.html" %}
{% block content %}
<div class="compose" style="padding: 1em;">
<form action="/send/" method="POST">
	{% csrf_token %}
	{% for field in compose_form %}
	<div>
		{{ field.errors }}
		{{ field.label_tag }}: {{ field }}
	</div>
	{% endfor %}
	{% for field in login_form %}
	<div>
		{{ field.errors }}
		{{ field.label_tag }}: {{ field }}
	</div>
	{% endfor %}
	<input type="submit" value="Send">
</form>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block jquery %}

{% endblock %}
