{% extends "base.html" %}
{% block content %}
<div class="compose" style="padding: 1em;">
<form action="/send/" method="POST">
	{% csrf_token %}
	<table>
		{% for field in compose_form %}
		<tr>
			<td>{{ field.errors }} {{ field.label_tag }}: </td>
			<td>{{ field }}</td>
		</tr>
		{% endfor %}
		{% for field in login_form %}
		<tr>		
			<td>{{ field.errors }} {{ field.label_tag }}: </td>
			<td>{{ field }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Send">
</form>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block jquery %}

{% endblock %}
