{% extends "base.html" %}
{% block content %}

<div class="mail" >
<table border="0" style="width: 100%;">
	<tr>
	<td colspan="4">
	Your Inbox:
	</td>
	</tr>

	<tr class="mail_headings" style="font-weight: bold;">
	<td style="width: 10px;"><!-- select all checkbox --></td>
	<td style="width: 50%;  border-bottom: 1px solid black;">Subject</td>
	<td style="width: 20%; border-bottom: 1px solid black;">From</td>
	<td style="width: 20%; border-bottom: 1px solid black;">Date</td>
	</tr>

	{% for number, message_headers, message in mail %}
	<tr style="background-color: {% cycle '#cef' '#cdf' %};">
	<td><!-- select this --></td>
	<td onclick="toggle_message('{{number}}')" style="color: blue; text-decoration: underline;">{{ message_headers.Subject }}</td>
	<td onclick="toggle_message('{{number}}')">{{ message_headers.From }}</td>
	<td onclick="toggle_message('{{number}}')">{{ message_headers.Date }}</td>
	</tr>
	<tr id='message_{{number}}' class="message" style="background-color: #fdc;">
	<td colspan='4' style="border-top: 1px dotted black; border-right: 1px dotted black; border-left: 1px dotted black;">
		<p>{{ message }}</p>
	</td>
	</tr>
	<tr id='actions_{{number}}' class="message">
	<td colspan='4' style="border-bottom: 1px dotted black; border-right: 1px dotted black; border-left: 1px dotted black;">
		<a href="#">reply</a>
	</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}

{% block javascript %}
function toggle_message(id)
{
	if ($("#message_"+id).is(':visible')) // if one is visible, hide all
	{
		$("#message_"+id).hide();
		$("#actions_"+id).hide();
	}
	else
	{
		$("#message_"+id).show();
		$("#actions_"+id).show();
	}
}
{% endblock %}

{% block jquery %}
	$('.message').each(
		function(){
			$(this).hide();
		}
	);
{% endblock %}
