{% extends "base.html" %}
{% block content %}

<div class="mail" >
<table border="0" style="width: 100%;">
	<tr>
	<td colspan="4">
	Your Inbox:
	</td>
	</tr>

	<tr class="mail_headings" style="font-weight: bold;">
	<td style="width: 10px;"><!-- select all checkbox --></td>
	<td style="width: 50%;  border-bottom: 1px solid black;">Subject</td>
	<td style="width: 20%; border-bottom: 1px solid black;">From</td>
	<td style="width: 20%; border-bottom: 1px solid black;">Date</td>
	</tr>

	{% for number, message_headers, message in mail %}
	<tr>
	<td><!-- select this --></td>
	<td onclick="toggle_message('message_{{number}}')"><a href="#">{{ message_headers.Subject }}</a></td>
	<td onclick="toggle_message('message_{{number}}')">{{ message_headers.From }}</td>
	<td onclick="toggle_message('message_{{number}}')">{{ message_headers.Date }}</td>
	</tr>
	
	<tr id='message_{{number}}' class="message">
	<td colspan='4'>
		<p>{{ message }}</p>
	</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}

{% block javascript %}
function toggle_message(id)
{
	if ($("#"+id).is(':visible'))
	{
		$("#"+id).hide();
	}
	else
	{
		$("#"+id).show();
	}
}
{% endblock %}

{% block jquery %}
	$('.message').each(
		function(){
			$(this).hide();
		}
	);
{% endblock %}
